doctype html
html
  head
    title FIAL: Image Abstraction Layer!
    meta(name='description', content='Freecodecamp image abstraction layer')
    link#favicon(rel='icon', href='https://glitch.com/edit/favicon-app.ico', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1
        | FIAL
      h4
      | Freecodecamp Image Abstraction Layer
    main
      form(action="/api/v1/imagesearch" method="POST")
        input(type='text', maxlength='100', placeholder='Search Term e.g. "Poodle"')
        .buttons
          button(type='submit') Submit
          button(data-getthis='latest') Latest
      section.dreams
        ul#images
  script(src='/client.js')